@{
    ViewBag.Title = "Login";
}


<ul class="nav navbar-nav navbar-right">

    @if (Session["user"] == null)
    {
        <li>@Html.ActionLink("Register", "Create", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    else
    {
        <li><a href="/Home/index" id="registerLink"> Wellcome @Session["user"] </a></li>
        <li><a href="#" id="loginLink" onclick="butnclck11()">Logout</a></li>
    }


</ul>


<script>

    var butnclck11 = function () {
        //debugger


        $.ajax({
            type: 'POST',
            url: "/Users/Logout",

            success: function (result) {
                if (result == "1") {

                    $(location).attr('href', 'http://localhost:49573/')
                }

            }
        });
    }



</script>
